/*****General Styles *****/
.flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }

  .column {
    flex-direction: column;
  }

  .row {
    flex-direction: row;
  }
  
  .full-width {
    width: 100%;
  }
  
  .full-height {
    height: 100%;
  }
  
  /***** Styles *****/
  
  html {
    height: 100vh;
    width: 100%;
  }
  
  body {
    background-color: #d8a7d8;
    color: black;
    font-family: "Rubik", serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .calculator {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 24px;
    padding: 22px;
    box-shadow: -7px 10px 29px rgba(98, 94, 94, 0.412);
  }

  .screen {
    height: 20%;
    justify-content: center;
    overflow: scroll;
    /*overflow: hidden; */
    scrollbar-color: rgb(112, 112, 112) black;
    scrollbar-width: thin;
    overflow-y: hidden;
  }

  .screen p {
    width: 100%;
    margin: 0;
    text-align: end;
  }

  /*.equation-input, .screen-input {
    overflow-x: scroll;
    overflow-y: overlay;
    scrollbar-width: 1px;
    overflow-y: hidden;

  }*/

  .equation-input {
    color: lightgray;
    font-size: 20px;
    padding-bottom: 1.5%;
    height: inherit;
    white-space: nowrap;
  }

  .screen-input {
    color: white;
    font-size: 30px;
    padding-bottom: 3%;
    /*scrollbar-color: rgb(112, 112, 112) black;
    scrollbar-width: thin;*/

  }

  .button-container {
    height: 75%;
    gap: 3%;
    margin-top: 5%;
  }

  .button-row {
    width: 20%;
    height: 100%;
    gap: 3%;
  }

  button {
    font-size: 25px;
    color: white;
    border: 0;
    font-weight: 600;
  }

  button:hover {
    opacity: 0.75;
  }

  button:active {
    opacity: 0.65;
  }

  .number-buttons, .operation-buttons, .display-buttons {
    border-radius: 50%;
    height: 25%;
  }

  .number-buttons {
    background-color: rgb(45, 44, 44);
  }

  .operation-buttons {
    background-color: rgb(112, 112, 112);
  }

  .display-buttons {
    background-color: lightgray;
    color: rgb(45, 44, 44);
  }

  .equals-button {
    border-radius: 9px;
    background-color: #d8a7d8;
    height: 50%;
  }